@import "../src/styles/mixins";
@import "../src/styles/variables";

.About {
  @include set-all;
  min-height: calc(100vh - 30px);
  text-align: center;
  @include flex-box($direction: column);

  p {
    line-height: 23px;
    padding: 20px;
  }
}
