@import "../../styles/mixins";
@import "../../styles/variables";

.Category {
  min-height: 100vh;
  text-align: center;
  h1 {
    color: $primary-color;
  }

  .backBtn {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      transform: scale(1.2);
      color: $primary-color;
    }
  }
}
