@import "../../styles/variables";
@import "../../styles/mixins";

.ActivitiesId {
  @include set-all;
  color: $primary-color;
  @include flex-box($justify: flex-start);
  min-height: 100vh;

  .backBtn {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .leftPage {
    height: calc(100% - 30px);
    width: 50%;
    @include flex-box;

    img {
      height: 60%;
      width: 60%;
      object-fit: contain;
    }
  }

  .rightPage {
    height: calc(100% - 30px);
    width: 50%;
    @include flex-box;

    .info {
      background-color: $secondary-color;
      border-radius: 10px;
      border: 1px solid rgb(206, 206, 206);
      @include flex-box($direction: column, $gap: 10px);
      padding: 10px;
      text-align: center;

      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .ActivitiesId {
    @include flex-box($direction: column, $justify: center, $gap: 20px);

    .leftPage {
      height: 50%;
      width: 100%;
    }

    .rightPage {
      height: 50%;
      width: 100%;
      @include flex-box;
    }
  }
}
