@import "../../styles/variables";
@import "../../styles/mixins";

.Activites {
  @include set-all;

  .Navbar {
    position: absolute;
  }
}

.filters {
  @include flex-box($direction: column, $gap: 8px);
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: $secondary-color;
  z-index: 3;
  padding-bottom: 5px;

  h3 {
    color: $primary-color;
  }

  ul {
    @include flex-box($gap: 20px);
    width: 100%;
    list-style: none;

    li:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
}
