@import "../../styles/variables";
@import "../../styles/mixins";

.Card {
  position: relative;
  height: 200px;
  width: 300px;
  font-size: 10px;
  color: black;
  overflow: hidden;
  padding: 10px;
  border: 1px solid black;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
  }

  .overflow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: $secondary-color, $alpha: 0.8);
    @include flex-box($direction: column, $gap: 10px);
    transform: translateY(100%);
    transition: 0.4s;
    padding: 10px;

    h3 {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &:hover .overflow {
    transform: translateY(0%);
  }
}
