@import "../../styles/variables";
@import "../../styles/mixins";

.Footer {
  width: 100%;
  padding: 20px;
  background-color: $primary-color;
  @include flex-box;

  ul {
    list-style: none;
    @include flex-box($gap: 15px);

    li {
      cursor: pointer;
      transition: 0.4s;
      color: $secondary-color;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}
